@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

.about-me-section {
    /* font-family: 'Poppins', sans-serif; */
    /* display: flex; */
    /* margin-left: 100px;
    color: #F5EFE7;
    margin-top: 40px;
    min-height: 100vh;
    margin-bottom: 20px; */
    /* background-image: url(../../assets/wave\ \(2\).svg); */
  }
  
  /* .column {
    flex: 1;
    padding: 40px;
  }
  
  .left-column {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* .image-holder img {
    max-width: 320px;
    
   
  } */
  
  /* .right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .right-column h2 {
    font-size: 24px;
  }
  
  .right-column p {
    margin-top: 30px;
    margin-right: 40px;
  } */
  