/* LandingPage.css */

.landing-page {
    background:linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)), url('../../assets/land.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }